user:
sid:
host:
port:
officeid:
timezone:

############################################

#user: USACE user name
#sid: The Oracle SID. It can be found following the DB IP address when logged into CWMSVue. Example: a0abcde1
#host: The host IP of the DB, not the IP of the server. This also can be found in CWMSVue
#port:1521 is the default port
#officeid: Your office ID
#timezone: Example: America/Los_Angeles.

#Timezone Tips#
#-All times will be interpreted in the selected timezone,. Times in your excel sheet will need to be consistent with this timezone.
#-All timeseries read from the database will be in this timezone.
#-https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
#Timezone Options#
#Zone		Daylight Savings		Constant Offset
#Pacific:	America/Los_Angeles			Etc/GMT+8
#Mountain:	America/Denver				Etc/GMT+7
#Central:	America/Chicago				Etc/GMT+6
#Eastern:	America/New_York			Etc/GMT+5


